<p id="notice"><%= notice %></p>

<h1>Proveniences</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveniences.each do |provenience| %>
      <tr>
        <td><%= provenience.title %></td>
        <td><%= provenience.description %></td>
        <td><%= provenience.image %></td>
        <td><%= link_to 'Show', provenience %></td>
        <td><%= link_to 'Edit', edit_provenience_path(provenience) %></td>
        <td><%= link_to 'Destroy', provenience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provenience', new_provenience_path %>
