<div id="itemsContainer">
    <h1>Thank You<br>
You have just placed an order <%=@orders.id %>
</h1>
</div>

<table id="customers">
     <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
       
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
       <td><%=number_to_currency(item.price, :unit => "€")%></td> 
       <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
       </tr>
       
       <% total = (item.quantity * item.price)%>  
     
     
      <% @total += total %>
      
      </tr>
    <% end %>
    
    
    <tr>
        
       <td>Order Total: &euro; <%= @total %></td>
       
<% shipping = 30 %>
      <% @overall = shipping + @total%>
      <tr>
          <td>Shipping &euro;30</td>
          <td>You Pay &euro; <%= @overall %></td>
        </tr>
       
      </tr>
      
      <tr>
          <td><h2>  <a href="/paid/<%= @orders.id %>" class="button">Pay Now</a></h2></td>
      </tr>

</table>










