<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<h1>Hello</h1>


<table id="customers">
     <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
       
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
       <td><%=number_to_currency(item.price, :unit => "€")%></td> 
       <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
       </tr>
       
       <% ototal = (item.quantity * item.price)%>  
     
     
      <% @total += ototal %>
      
      </tr>
    <% end %>
    
    
    <tr>
        
           <tr>
        <% if @total > 20 %>  
          <% shipping = 5 %>
            <% @overall = shipping + @total%>
        <tr>
          <td>Shipping &euro; 5</td>
          
        </tr>
        <% else %>
          <% shipping = 30 %>
            <% @overall = shipping + @total%>
        <tr>
          <td>Shipping &euro; 30</td>
          
        </tr>
    
    </tr>
      
    <% end %>
       <td><strong>You Pay &euro;<strong> <%= @overall %></td>
      
      </tr>
    
       
      </tr>
</table>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
