<div class="proveniences">
    
    <h3>Provenience</h3>

    <div class="col-3">
    <% @proveniences.each do |provenience| %>
    
        <div class="itemhols">
            <p><%= provenience.title %></p>
            <%= link_to (image_tag provenience.image, :class=>"itemholsIm"), provenience %>
            <p><%= provenience.description %></p>
            
            <p><a href="/provenience/<%= provenience.title %>" class="button"><%= provenience.title %></a></p>
        </div>

    <% end %>
    </div>

</div>
<div class="clear"></div>