<p id="notice"><%= notice %></p>

 <div id="itemsContainer">
  
  <h1>Products</h1>
  
     
      <% @items.each do |item| %>
      

      <div class="itemhols">
       
       


<div class="card border-info mb-3 ml-3 mr-3" style="width: 18rem;">
   <%= link_to (image_tag item.image_url, :class => "card-img-top"), item %>
  <div class="card-body">
    <h1 class="card-title"><%= item.title %></h1>
    <p class="card-text"><%= item.description %></p>
    <br>
        Category: <%= item.category %>
    <br>
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        In Stock? <%= item.inStock %>
      </label>
    </div>
    
    
    
    <p class="price">Price <%= number_to_currency(item.price, :unit => "€") %>
       
          <%#=    Brand: <%= item.brand %></p> 
       <p>
    
    <%= link_to 'Show',  item, :class => "btn btn-primary", :role => "button" %>
    
    <p>
        <button class="btn1" onclick="window.location.href='/cart/<%= item.id %>'">
           <span class="circle" aria-hidden="true">
           <span class="icon arrow"></span>
           </span>
           <span class="button-text">Add to Cart</span>
        </button>
     </p>
  </div>
  
           <% if current_user.admin? %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin user options
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a <%= link_to "All users List", "/allusers", :class =>"dropdown-item" %></a> 
                <a <%= link_to 'New Item',  new_item_path, :class => "dropdown-item", :role => "button" %> </a>
                <a <%= link_to 'Edit', edit_item_path(item), :class =>"dropdown-item", :role=>"button" %></a>
                <a <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"dropdown-item", :role=>"button" %></a>
                <a <%= link_to 'New Category', new_category_path, :class =>"dropdown-item", :role=>"button"  %></a>
                <a <%= link_to 'New provenience area', new_provenience_path, :class =>"dropdown-item", :role=>"button"  %></a>  
              </div>
            </div>
         <% end %>
    </div>
</div>
    <% end %>
    
<div class="pagination"> <%= will_paginate @items, previous_label: " back ", next_label: " following ", inner_window:0, outer_window:0  %> </div>

</div>

<br>



